{
    "per_device_eval_batch_size": 8,
    "fp16": true,
    "remove_unused_columns": false,
    "eval_accumulation_steps": 16,
    "logging_steps": 50,
    "gradient_checkpointing": false,
    "dataloader_num_workers": 4,
    "output_dir": ".",
    "eval_strategy": "steps",
    "eval_steps": 100,
    "seed": 42
}
