{
    "per_device_eval_batch_size": 1,
    "output_dir": ".",
    "fp16": true,
    "remove_unused_columns": false,
    "do_train": false,
    "do_eval": true,
    "eval_accumulation_steps": 10,
    "learning_rate": 5e-5,
    "weight_decay": 0.01,
    "num_train_epochs": 3,
    "logging_strategy": "steps",
    "logging_steps": 500,
    "save_strategy": "no",
    "evaluation_strategy": "steps",
    "eval_steps": 0.1,
    "gradient_checkpointing": false,
    "dataloader_num_workers": 4,
    "report_to": "none",
    "seed": 42,
    "local_rank": -1,
    "dataloader_pin_memory": true,
    "skip_memory_metrics": true
}
